<!DOCTYPE html>
<html xml="thhp://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>index</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <form th:action="@{/main}" method="post" name="addMessage">
        сообщение: <input name="message" type="text"/>
        тег: <input name="tag" type="text"/>
        <button type="submit" name="addBtn">добавить</button>
    </form>
    <div th:if="${messages != null}">
        <p>список сообщений:</p>
        <ul>
            <li th:each="item : ${messages}" th:text="${item.getText()}">111111</li>
        </ul>
    </div>
</body>
</html>