<!DOCTYPE html>
<html lang="en" xml="thhp://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
    <body>
        Add new user
        <div th:if="${tip != null}" th:text="${message}">
        </div>
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <div><label> User Name: <input type="text" th:field="*{username}"/></label></div>
            <div><label> Password: <input type="password" th:field="*{password}"/></label></div>
            <div><input type="submit" value="Add mew User"/></div>
        </form>
    </body>
</html>